*{
    margin: 0;
}

:root {
    /* css global scope */
    --nav-height: 5rem; 
    --viewport-height: 100vh;    
}

.navbar{
    background: blue;
    color: white;
    /* height: 100px; */
    height: var(--nav-height);

    /* local scope */
    font-size: 3rem;
    
    list-style: none;
}


.banner{
    background: red;
    /* height: 80vh; */

    /* height: 200px; */
    /* height: calc(100vh - var(--nav-height)); */
    /* height: calc(100vh - 2rem); */
   height: calc(var(--viewport-height) - var(--nav-height));
   
}

